{deps_dir, "deps"}.
{deps,
 [
  %{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {rfc4627_jsonrpc, "0.01", {git, "git://github.com/tonyg/erlang-rfc4627.git", {branch, "master"}}}
 ]
}.
%{erl_opts,
% [
%  {parse_transform, lager_transform},
%  debug_info,
%  {i, "include"}
% ]
%}.
